<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/icono.png">
    <title>Cinema curiosities</title>
</head>
<body>
    <header id="header" class="container">
        <img id="imgLogo" class="navbar-brand" src="../assets/img/logo.png" alt="logo-MatiMovies">
        <section id="barraNav" class="container" >
          <ol class="container d-flex flex-column flex-md-row justify-content-center" >
            <li class="enlace"><a href="../index.html">Index</a></li>
            <li class="enlace"><a href="./addMovie.html">Add Movies</a></li>
            <li class="enlace"><a href="./aboutMyProject.html">About my project</a></li>
            <li class="enlace"><a href="./cinemaHistory.html">Cinema History</a></li>
            <li class="enlace"><a href="./recommendedWebsites.html">Recommended websites</a></li>
            <li class="enlace"><a href="./cinemaCuriosities.html">Cinema curiosities</a></li>
          </ol>
        </section>
      </header>

    <main>
        <main id="main">
            <section id="primeraSeccion">
                <h2>Cinema curiosities</h2>
                <p>Cinema is full of fascinating stories and curious facts. Here are some curiosities you might not have known:</p>
                <article>
                    <h4>🎬 The first movie in history</h4>
                    <p>The first movie in history, La sortie de l'usine Lumière à Lyon (1895), lasted only 46 seconds and showed workers leaving a factory.</p>
                </article>
                <article>
                    <h4>🍿 The origin of the word "blockbuster"</h4>
                    <p>The term "blockbuster" became popular during World War II, referring to bombs that destroyed entire neighborhoods. Later, it was used to describe movies so popular that they generated long lines at theaters.</p>
                </article>
                <article>
                    <h4>📽️ The longest movie in history</h4>
                    <p>The movie Modern Times Forever (2011) lasts 240 hours! It shows the slow decay of a building over time.</p>
                </article>
                <article>
                    <h4>🎭 The actor with the most Oscar nominations</h4>
                    <p>Meryl Streep holds the record for most nominations in Oscar history, with more than 20.</p>
                </article>
                <article>
                    <h4>🦈 The Jaws shark almost ruined the movie</h4>
                    <p>The mechanical shark in Jaws (1975) had so many technical problems that Steven Spielberg decided to show it as little as possible. This made the movie even more terrifying.</p>
                </article>
                <p>If you like these curiosities, keep exploring our website and discover more about the incredible world of cinema. 🎥✨</p>
            </section>
    </main>
    
    
</body>
</html>