<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/icono.png">
    <title>Cinema History</title>
</head>
<body>
    <header id="header" class="container">
        <img id="imgLogo" class="navbar-brand" src="../assets/img/logo.png" alt="logo-MatiMovies">
        <section id="barraNav" class="container" >
          <ol class="container d-flex flex-column flex-md-row justify-content-center" >
            <li class="enlace"><a href="../index.html">Index</a></li>
            <li class="enlace"><a href="./addMovie.html">Add Movies</a></li>
            <li class="enlace"><a href="./aboutMyProject.html">About my project</a></li>
            <li class="enlace"><a href="./cinemaHistory.html">Cinema History</a></li>
            <li class="enlace"><a href="./recommendedWebsites.html">Recommended websites</a></li>
            <li class="enlace"><a href="./cinemaCuriosities.html">Cinema curiosities</a></li>
          </ol>
        </section>
      </header>
    <main>
        <main id="main">
            <section id="primeraSeccion">
                <h2>Cinema History</h2>
                <p>Cinema has evolved enormously since its invention in the late 19th century. Below is a brief overview of the most important moments in cinema history:</p>
                <ol>
                    <li>1-The birth of cinema (1895-1920) The Lumière brothers presented the first public film screening in 1895. During this era, silent cinema dominated the industry, with iconic figures like Charlie Chaplin and Buster Keaton.</li>
                    <li>2-The golden age of Hollywood (1920-1960) With the arrival of sound cinema in 1927 (thanks to The Jazz Singer), Hollywood consolidated itself as the mecca of cinema. Directors like Alfred Hitchcock, Orson Welles and Billy Wilder defined the most popular film genres.</li>
                    <li>3-The new wave and modern cinema (1960-1990) In the 60s and 70s, cinema became more experimental. Directors like Stanley Kubrick, Francis Ford Coppola and Martin Scorsese revolutionized the way stories were told. The rise of science fiction cinema and special effects marked the 80s.</li>
                    <li>4-Digital cinema and streaming platforms (1990-present) With technological advances, cinema has experienced great changes. From computer animation to the rise of platforms like Netflix and Disney+, movie consumption has been completely transformed.</li>
                </ol>
                <p>Cinema continues to evolve, and this website seeks to be a small tribute to that history. Explore and find your next favorite movie!</p>

            </section>
    </main>
    
</body>
</html>