<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/icono.png">
    <title>Recommended websites</title>
</head>
<body>
    <header id="header" class="container">
        <img id="imgLogo" class="navbar-brand" src="../assets/img/logo.png" alt="logo-MatiMovies">
        <section id="barraNav" class="container" >
            <ol class="container d-flex flex-column flex-md-row justify-content-center" >
                <li class="enlace"><a href="../index.html">Index</a></li>
                <li class="enlace"><a href="./addMovie.html">Add Movies</a></li>
                <li class="enlace"><a href="./aboutMyProject.html">About my project</a></li>
                <li class="enlace"><a href="./cinemaHistory.html">Cinema History</a></li>
                <li class="enlace"><a href="./recommendedWebsites.html">Recommended websites</a></li>
                <li class="enlace"><a href="./cinemaCuriosities.html">Cinema curiosities</a></li>
              </ol>
        </section>
      </header>

    <main>
        <main id="main">
            <section id="primeraSeccion">
                <h2>Recommended websites</h2>
                <p>If you're a movie lover, we recommend these pages where you can find information, reviews and news about movies:</p>
                <ol>
                    <li>
                        <a href="https://www.imdb.com/es-es/?reasonForLanguagePrompt=browser_header_mismatch">IMDb</a>
                        <p>IMDb The world's largest movie database. Here you can find information about actors, directors, releases and user reviews.</p>
                    </li>
                    <li>
                        <a href="https://www.rottentomatoes.com/">Rotten Tomatoes</a>
                        <p>A site that compiles movie and television reviews, with a rating system based on critics' and audience opinions.</p>
                    </li>
                    <li>
                        <a href="https://letterboxd.com/">Letterboxd</a>
                        <p>A social network for movie lovers where you can keep track of the movies you watch, write reviews and share lists with other users.</p>
                    </li>
                    <li>
                        <a href="https://www.filmaffinity.com/es/main.html">Filmaffinity</a>
                        <p>A site in Spanish where you can discover recommended movies according to your tastes and read community reviews.</p>
                    </li>
                </ol>
                <p></p>
                
            </section>
    </main>
    
    
</body>
</html>